{% load cloudinary %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="De Geist">

    <title>Dan & Phil - Create your cover</title>
    <meta name="description" content="">

    <!-- // Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- / Facebook Open Graph shares -->
    <meta content="" property="og:title">
    <meta content="" property="og:url">
    <meta content="Dan and Phil Go Outside" property="og:site_name">
    <meta content="" property="og:description">
    <meta content="http://res.cloudinary.com/geist/image/upload/w_500,h_660,c_fill/l_static:{{ cutout }},c_fit,w_355/l_static:danphil-headline.png,w_400,c_fit,y_10,g_north/l_text:Open%20Sans_40_bold:{{ text|urlencode:"" }},g_south,y_50,w_500,c_fit,co_rgb:FFFFFF/q_100/{{ version_id }}/{{ image_id }}.{{ image_extension }}" property="og:image">
    <!-- / Twitter cards -->
    <meta content="summary_large_image" name='twitter:card'>
    <meta content="@danandphil" name='twitter:site'>
    <meta content="Dan and Phil Go Outside" name='twitter:title'>
    <meta content="Dan and Phil go Outside" name='twitter:description'>
    <meta content="http://res.cloudinary.com/geist/image/upload/w_500,h_660,c_fill/l_static:{{ cutout }},c_fit,w_355/l_static:danphil-headline.png,w_400,c_fit,y_10,g_north/l_text:Open%20Sans_40_bold:{{ text|urlencode:"" }},g_south,y_50,w_500,c_fit,co_rgb:FFFFFF/q_100/{{ version_id }}/{{ image_id }}.{{ image_extension }}" name="twitter:image">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
    <script>
      {% block javascript %}{% endblock %}
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
