{% load cloudinary %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="De Geist">

    <title>Dan & Phil - Create your cover</title>
    <meta name="description" content="">

    <!-- // Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- / Facebook Open Graph shares -->
    <meta content="Customise your own DAPGO cover!" property="og:title">
    <meta content="http://danandphilgooutside.com/createacover" property="og:url">
    <meta content="DAPGO" property="og:site_name">
    <meta content="I created my own cover for DAPGO" property="og:description">
    <meta content="http://res.cloudinary.com/geist/image/upload/w_500,h_660,c_fill/l_static:danphil-headline.png,h_180,c_fit/fl_layer_apply,y_10,g_north/l_static:{{ cutout }},c_fit,h_500/fl_layer_apply,y_80,g_north/l_text:Open%20Sans_60_bold_center_line_spacing_-18:{{ text|urlencode:"" }},c_fit,w_480,co_white/e_shadow:10,co_black,c_fit/fl_layer_apply,g_south,y_10/q_100/{{ version_id }}/{{ image_id }}.{{ image_extension }}" property="og:image">
    <!-- / Twitter cards -->
    <meta content="summary_large_image" name='twitter:card'>
    <meta content="Customise your own DAPGO cover!" name='twitter:title'>
    <meta content="I created my own cover for Dan & Phil’s photo book!" name='twitter:description'>
    <meta content="http://res.cloudinary.com/geist/image/upload/w_500,h_660,c_fill/l_static:danphil-headline.png,h_180,c_fit/fl_layer_apply,y_10,g_north/l_static:{{ cutout }},c_fit,h_500/fl_layer_apply,y_80,g_north/l_text:Open%20Sans_60_bold_center_line_spacing_-18:{{ text|urlencode:"" }},c_fit,w_480,co_white/e_shadow:10,co_black,c_fit/fl_layer_apply,g_south,y_10/q_100/{{ version_id }}/{{ image_id }}.{{ image_extension }}" name="twitter:image">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
    <script>
      {% block javascript %}{% endblock %}
    </script>
  </head>
  <body>
    <a href="http://danandphilgooutside.com" class="corner-ribbon">PRE-ORDER DAPGO HERE!</a>

    {% block body %}{% endblock %}
  </body>
</html>
