<h3>Share your artwork!</h3>
<ul class="social__icons p-y-3 inline-list">
  <li>
    <a href="#" class="social__link"><svg class="icon-twitter"><use xlink:href="{% static 'img/icons/icons.svg#icon-twitter' %}"></use></svg></a>
  </li>
  <li>
    <a href="#" class="social__link"><svg class="icon-facebook"><use xlink:href="{% static 'img/icons/icons.svg#icon-facebook' %}"></use></svg></a>
  </li>
  <li>
    <a href="#" class="social__link"><svg class="icon-tumblr"><use xlink:href="{% static 'img/icons/icons.svg#icon-tumblr' %}"></use></svg></a>
  </li>
  <li>
    <a href="#" class="social__link"><svg class="icon-download"><use xlink:href="{% static 'img/icons/icons.svg#icon-download' %}"></use></svg></a>
  </li>
</ul>
