{% load cloudinary %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="De Geist">

  <title>Book Cover Generator</title>
  <meta name="description" content="">

  <!-- // Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <!-- / Facebook Open Graph shares -->
  <meta content="" property="og:title">
  <meta content="" property="og:url">
  <meta content="" property="og:site_name">
  <meta content="" property="og:description">
  <meta content="{% static  'img/artboard/dp-cutout4.png' %}" property="og:image">
  <!-- / Twitter cards -->
  <meta content="summary_large_image" name='twitter:card'>
  <meta content="@" name='twitter:site'>
  <meta content="" name='twitter:title'>
  <meta content="" name='twitter:description'>
  <meta content="{% static  'img/artboard/dp-cutout4.png' %}" name='twitter:image'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- / Vendor scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  <script src="{% static 'js/vendor/jquery.inline-edit.js' %}"></script>
  {% cloudinary_includes %}
  {% cloudinary_js_config %}
</head>
<body>
  <div class="corner-ribbon">Continue to website &rarr;</div>
  <header class="masthead">
    <div class="container">
      <div class="row p-y-1">
        <h1 class="masthead__welcome text-xs-center">Design your cover</h1>
      </div>
    </div>
  </header>
  <section id="artboard" class="artboard">
    <div class="artboard__wrapper artboard__wrapper--title">
      <img src="{% static 'img/artboard/danphil-headline.png' %}" class="artboard__title" alt="Dan and Phil"/>
    </div>

    <div class="artboard__wrapper artboard__wrapper--background-upload">
      <div class="artboard__actionable-item artboard__actionable-item--background-upload">
        <span id="backgroundUpload" class="artboard__icon">
          <svg class="icon-camera"><use xlink:href="{% static 'img/icons/icons.svg#icon-camera' %}"></use></svg>
        </span>
        <span class="artboard__helper-text artboard__helper-text--br">
          Upload a background!
          <svg class="icon-arrow"><use xlink:href="{% static 'img/icons/icons.svg#icon-arrow' %}"></use></svg>
        </span>
      </div>
    </div>

    <div class="artboard__wrapper artboard__wrapper--cutouts">
      <div class="artboard__actionable-item artboard__actionable-item--cutouts">
        <img src="{% static 'img/artboard/dp-cutout4.png' %}" id="artboardCutout" class="artboard__cutouts" alt="Cutout" />
        <span class="artboard__helper-text artboard__helper-text--tl">
          Select your DP
          <svg class="icon-arrow"><use xlink:href="{% static 'img/icons/icons.svg#icon-arrow' %}"></use></svg>
        </span>
      </div>
    </div>

    <div class="artboard__wrapper artboard__wrapper--subtitle">
      <div class="artboard__actionable-item artboard__actionable-item--subtitle">
        <p id="userCoverTextEditable" class="inline-text-edit">go outside</p>
          <span class="artboard__helper-text artboard__helper-text--bl">
            Write some text
            <svg class="icon-arrow"><use xlink:href="{% static 'img/icons/icons.svg#icon-arrow' %}"></use></svg>
          </span>
      </div>
      <div class="artboard__subtitle__word-counter">
          <span id="chars">50</span> characters remaining
      </div>
    </div>

    </section>
    <section class="social container m-y-3 text-xs-center">
      <a href="#" class="btn btn-primary btn-lg finish">I'm done. Share this image</a>
    </section>
    <footer class="m-t-3">
      <div class="container">
        <ul class="inline-list">
          <li>Copyright</li>
          <li>Terms</li>
        </ul>
      </div>
    </footer>

    <div id="backgroundUploadModal" class="modal fade modal--background-upload">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Upload your image</h4>
          </div>
          <div class="modal-body p-a-1">
            <div class="container-fluid">
              <div class="row">
                <div id='direct_upload'>
                  <form action="{% url 'direct_upload_complete' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% cloudinary_direct_upload_field request=request %}
                  </form>
                </div>

                <!-- <span class="dropzone"> -->

                  <!-- <span>Drag image here or click to upload</span> -->
                  <!-- The file input field used as target for the file upload widget -->
                  <!-- <input id="fileupload" type="file" name="files[]" multiple> -->
                <!-- </span> -->
              </div>

              <progress class="progress">
                <div class="progress">
                  <span class="progress-bar progress-bar-success"></span>
                </div>
              </progress>

              <p class="lead text-xs-center">
                ... or select one of ours
              </p>
              <div class="row">
                <div class="col-xs-6 col-md-4">
                  <a href="#" class="select-background"><img src="{% static 'img/artboard/backgrounds/thumbnails/dummy-bg.jpg' %}" alt="image" data-large-img="{% static 'img/artboard/backgrounds/dummy-bg.jpg' %}" /></a>
                </div>
                <div class="col-xs-6 col-md-4">
                  <a href="#" class="select-background"><img src="{% static 'img/artboard/backgrounds/thumbnails/dummy-bg1.jpg' %}" alt="image" data-large-img="{% static 'img/artboard/backgrounds/dummy-bg1.jpg' %}" /></a>
                </div>

              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Cutout selctor modal -->
    <div id="cutoutsSelectorModal" class="modal fade modal--cutouts-selector">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body p-a-1">
            <div class="container-fluid">
              <div class="row">
                <ul class="inline-list p-a-1">
                    <li>
                        <img src="{% static 'img/artboard/dp-cutout1-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout1.png' %}"/>
                    </li>
                    <li>
                      <img src="{% static 'img/artboard/dp-cutout2-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout2.png' %}"/>
                    </li>
                    <li>
                        <img src="{% static 'img/artboard/dp-cutout3-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout3.png' %}"/>
                    </li>
                    <li>
                      <img src="{% static 'img/artboard/dp-cutout4-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout4.png' %}"/>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  <script src="{% static 'js/dropzone.js' %}"></script>
  <script src="{% static 'js/ui.js' %}"></script>

  </body>
</html>
