{% load cloudinary %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="De Geist">

  <title>DAPGO - Create your own cover!</title>
  <meta name="description" content="">

  <!-- // Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <!-- / Facebook Open Graph shares -->
  <meta content="Customise your own DAPGO cover!" property="og:title">
  <meta content="http://danandphilgooutside.com/createacover" property="og:url">
  <meta content="DAPGO" property="og:site_name">
  <meta content="Create and share your own customised cover for the ‘Dan and Phil Go Outside’ photo book!" property="og:description">
  <meta content="{% static  'img/artboard/dp-cutout1.png' %}" property="og:image">
  <!-- / Twitter cards -->
  <meta content="summary_large_image" name='twitter:card'>
  <meta content="Customise your own DAPGO cover!" name='twitter:title'>
  <meta content="Create and share your own customised cover for the ‘Dan and Phil Go Outside’ photo book!" name='twitter:description'>
  <meta content="{% static  'img/artboard/dp-cutout1.png' %}" name='twitter:image'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- / Vendor scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  {% cloudinary_includes %}
  {% cloudinary_js_config %}
  <script src="{% static 'js/vendor/fileuploader/load-image.all.min.js' %}"></script>
  <script src="{% static 'js/vendor/fileuploader/canvas-to-blob.min.js' %}"></script>
  <script src="{% static 'js/vendor/fileuploader/jquery.fileupload-process.js' %}"></script>
  <script src="{% static 'js/vendor/fileuploader/jquery.fileupload-image.js' %}"></script>
  <script src="{% static 'js/vendor/fileuploader/jquery.fileupload-validate.js' %}"></script>
  <script src="{% static 'js/fileupload.js' %}"></script>
  <script src="{% static 'js/jquery.inline-edit.js' %}"></script>
  <script src="{% static 'js/artboard.js' %}"></script>
  <script src="{% static 'js/ui.js' %}"></script>
</head>
<body>
  <a href="http://danandphilgooutside.com" class="corner-ribbon">PRE-ORDER DAPGO HERE!</a>
  <header class="masthead container p-y-1">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="masthead__welcome text-xs-center">Customise your own cover!</h1>
        </div>
      </div>
  </header>
  <section class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="artboard" class="artboard artboard--work">
          <div class="artboard__wrapper artboard__wrapper--title">
            <img src="{% static 'img/artboard/danphil-headline.png' %}" class="artboard__title" alt="Dan and Phil"/>
          </div>

          <div class="artboard__wrapper artboard__wrapper--background-upload">
            <div class="artboard__actionable-item artboard__actionable-item--background-upload">
              <span id="backgroundUpload" class="artboard__icon">
                <svg class="icon-camera"><use xlink:href="{% static 'img/icons/icons.svg#icon-camera' %}"></use></svg>
              </span>
              <span class="artboard__helper-text artboard__helper-text--br">
                UPLOAD A BACKGROUND
                <svg class="icon-arrow"><use xlink:href="{% static 'img/icons/icons.svg#icon-arrow' %}"></use></svg>
              </span>
            </div>
          </div>

          <div class="artboard__wrapper artboard__wrapper--cutouts">
            <div class="artboard__actionable-item artboard__actionable-item--cutouts">
              <img src="{% static 'img/artboard/dp-cutout1.png' %}" id="artboardCutout" class="artboard__cutouts" alt="Cutout" data-img-number="1" />
              <span class="artboard__helper-text artboard__helper-text--tl">
                CHOOSE A <br /> DAN &amp; PHIL
                <svg class="icon-arrow"><use xlink:href="{% static 'img/icons/icons.svg#icon-arrow' %}"></use></svg>
              </span>
            </div>
          </div>

          <div class="artboard__wrapper artboard__wrapper--subtitle">
            <div class="artboard__actionable-item artboard__actionable-item--subtitle">
              <p id="userCoverTextEditable" class="inline-text-edit">go outside</p>
                <span class="artboard__helper-text artboard__helper-text--bl">
                  WRITE SOME TEXT
                  <svg class="icon-arrow"><use xlink:href="{% static 'img/icons/icons.svg#icon-arrow' %}"></use></svg>
                </span>
            </div>
          </div>
        </div>

        <div class="artboard__subtitle__word-counter m-t-2">
            <span id="chars"></span> characters remaining
        </div>

      </div>
    </div>
  </section>

  <section class="social container m-y-3 text-xs-center">
      <div class="row">
        <div class="col-xs-12">
          <a href="#" id="artboardFinish" class="btn btn-primary btn-lg artboard-finish">FINISHED! SHARE THIS IMAGE</a>

        </div>
      </div>
  </section>
  <footer class="container m-t-3">
    <div class="row m-y-1">
			<div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 text-xs-center">
          <small class="toc p-a-1">Thanks for using the custom cover tool! So you don't get into trouble, please do not upload and share pictures that you didn’t take yourself, don't have permission to use or that show anything illegal, offensive or which may upset another person! By using this app you agree to the <a href="http://www.danandphilgooutside.com/terms-of-use">terms of use</a>.</small>
        </div>
  		</div>
    <div class="row m-y-1">
			<div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 text-xs-center">
				<p class="lead">
					For more, go to <a href="http://danandphilgooutside.com">danandphilgooutside.com &rarr;</a>
				</p>
			</div>
		</div>
  </footer>

    <div id="backgroundUploadModal" class="modal fade modal--background-upload">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-a-1">
            <div class="container-fluid">
              <p class="lead text-xs-center">
                Upload a background!
              </p>

                <div id="direct_upload" class="row">
                  <form action="{% url 'direct_upload_complete' %}" method="post" enctype="multipart/form-data" class="dropzone">
                    <span>Drag image here or click to upload!</span>
                    {% csrf_token %}
                    {% cloudinary_direct_upload_field request=request %}
                  </form>
                </div>
                <div class="upload-status row" role="alert"></div>
                <progress class="progress row">
                  <div class="progress">
                    <span class="progress-bar progress-bar-success"></span>
                  </div>
                </progress>

              <p class="lead text-xs-center m-y-2">
                ... or select one of ours
              </p>
              <div class="row">
                <div class="col-xs-6 col-md-4 m-b-1">
                  <a href="#" class="select-background"><img src="http://res.cloudinary.com/geist/image/upload/v1470220274/bg1_small.jpg" alt="Background Image" data-large-img="http://res.cloudinary.com/geist/image/upload/v1470220275/bg1.jpg" data-background-number="1" /></a>
                </div>
                <div class="col-xs-6 col-md-4 m-b-1">
                  <a href="#" class="select-background"><img src="http://res.cloudinary.com/geist/image/upload/v1470220274/bg2_small.jpg" alt="Background Image" data-large-img="http://res.cloudinary.com/geist/image/upload/v1470220277/bg2.jpg" data-background-number="2" /></a>
                </div>
                <div class="col-xs-6 col-md-4 m-b-1">
                  <a href="#" class="select-background"><img src="http://res.cloudinary.com/geist/image/upload/v1470220275/bg3_small.jpg" alt="Background Image" data-large-img="http://res.cloudinary.com/geist/image/upload/v1470220275/bg3.jpg" data-background-number="3" /></a>
                </div>
                <div class="col-xs-6 col-md-4 m-b-1">
                  <a href="#" class="select-background"><img src="http://res.cloudinary.com/geist/image/upload/v1470073115/bg4_small.jpg" alt="Background Image" data-large-img="http://res.cloudinary.com/geist/image/upload/v1470073116/bg4.jpg" data-background-number="4" /></a>
                </div>
                <div class="col-xs-6 col-md-4 m-b-1">
                  <a href="#" class="select-background"><img src="http://res.cloudinary.com/geist/image/upload/v1469996471/bg5_small.jpg" alt="Background Image" data-large-img="http://res.cloudinary.com/geist/image/upload/v1469995439/bg5.jpg" data-background-number="5" /></a>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Cutout selctor modal -->
    <div id="cutoutsSelectorModal" class="modal fade modal--cutouts-selector">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body p-a-1">
            <div class="container-fluid">
              <div class="row">
                <ul class="inline-list p-a-1">
                    <li>
                        <img src="{% static 'img/artboard/dp-cutout1-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout1.png' %}" data-img-number="1" />
                    </li>
                    <li>
                      <img src="{% static 'img/artboard/dp-cutout2-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout2.png' %}" data-img-number="2" />
                    </li>
                    <li>
                        <img src="{% static 'img/artboard/dp-cutout3-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout3.png' %}" data-img-number="3" />
                    </li>
                    <li>
                      <img src="{% static 'img/artboard/dp-cutout4-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout4.png' %}" data-img-number="4" />
                    </li>
                    <li>
                      <img src="{% static 'img/artboard/dp-cutout5-shadow.png' %}" class="modal--cutouts-selector__option" alt="Cutout" data-large-img="{% static 'img/artboard/dp-cutout5.png' %}" data-img-number="5" />
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81803135-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
