$artboard-ratio:          1.32;
$artboard-width:           500px;
$artboard-height:         $artboard-width * $artboard-ratio;
$artboard-title-height:   86px;
$artboard-cutouts-height: 460px;

$artboard-subtitle-height: 100px;


// Z-index (Bootstrap starts at 1000)
$z-index-artboard:     100;
$z-index-step:          10;


.artboard {
  max-width: $artboard-width;
  min-height: $artboard-height;
  @include media-breakpoint-up(sm) {
    max-width: none;
    min-height: initial;
    width: $artboard-width;
    height: $artboard-height;
  }

  margin: 0 auto;
  border: 4px solid white;
  background-color: $sand-color;
  @include box-shadow(4);
  background-size: 500px 660px;
  position: relative;

  &--work {
    background-image: url('http://res.cloudinary.com/geist/image/upload/v1469996798/bg4.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  &--final {
    border: 4px solid lighten($brand-primary,60%);
    display: block;
    max-width: 100%;
    height: auto;
    min-height: initial;
  }

  // Artboard wrappers take care of placement/sizing of the element on the artboard
  &__wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;

    &--title {
        display: block;
        margin: 4px auto;
        height: $artboard-title-height;
        top: 0;
        z-index: $z-index-artboard;
    }

    &--background-upload {
      height: $icon-size; // Icon height
      top: $artboard-title-height + 8px;
      z-index: $z-index-artboard + 10;
    }

    &--cutouts {
      height: $artboard-cutouts-height;
      top: $artboard-title-height + $icon-size + 8px;
      z-index: $z-index-artboard + 4;
    }

    &--subtitle {
        bottom: 0;
        min-height: $artboard-subtitle-height;
        z-index: $z-index-artboard + 6;

    }
  }

  // Actionable item is wrapper for the item upon which action can be taken.
  // Also used for positioning the helper text

  &__actionable-item {
    position: relative;
    display: inline-block;

    a {
      outline: none;
    }

    &--background-upload {
      width: $icon-size + 4px;

      svg.icon-camera {
        fill: rgba(255,255,255, .7);
        padding: 2px;
        border-radius: $border-radius;
        background-color: $brand-primary;
      }

      &:hover {
        cursor: pointer;
        svg.icon-camera {
          fill: rgba(255,255,255, 1)
        }
      }
    }

    &--cutouts {
      &:hover {
        cursor: pointer;
      }
    }

    &--subtitle {
      display: block;
      padding: 0 $spacer-x;
      //line-height: 40px;
      //background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    }
  }

  // Other elements

  &__title {
    height: 100%;
    width: auto;
  }

  &__cutouts {
    height:  $artboard-cutouts-height;
    // Fit them in on smaller displays
    @include media-breakpoint-down(sm) {
      height: $artboard-height * .6;
    }
    width: auto;
    display: block;
  }

  &__icon {
    display: inline-block;
  }
}

.toc {
  display: block;
  clear: both;
  max-width: 500px;
  border-radius: $border-radius;
  margin: $spacer-x auto;
  font-style: italic;
  background-color: $gray-lightest;
}
