.artboard__helper-text {
  color: white;
  background-color: $brand-info;
  border-radius: $border-radius;
  display: block;
  text-transform: uppercase;
  position: absolute;
  width: 150px;
  top: $icon-size;
  z-index: 500;
  
  svg {
    position: absolute;
    top: -30px;
    left: 60px;
    fill: $brand-info;
  }

  &--br {
    transform: rotate(-7deg);
  }

  &--bl {
    transform: rotate(-3deg);
    top: 50px;
    left: -120px;
    svg  {
      transform: scaleX(-1);
    }
  }

  &--tl {
    transform: rotate(7deg);
    top: 150px;
    left: -80px;
    svg {
      transform: scaleX(-1);
    }
  }
}
