.artboard__helper-text {
  color: white;
  display: block;
  text-transform: uppercase;
  position: absolute;
  width: 150px;
  top: 32px;

  svg {
    position: absolute;
    top: -30px;
    left: 60px;
  }

  &--br {
    transform: rotate(-7deg);
  }

  &--bl {
    transform: rotate(-3deg);
    top: 150px;
    left: 40px;
    svg  {
      transform: scaleX(-1);
    }
  }

  &--tl {
    transform: rotate(7deg);
    top: 150px;
    left: 10px;
    svg {
      transform: scaleX(-1);
    }
  }
}
