.artboard__helper-text {
  color: white;
  font-size: $font-size-sm;
  background-color: $brand-info;
  border-radius: $border-radius;
  display: block;
  text-transform: uppercase;
  position: absolute;
  width: 150px;
  top: $icon-size;
  z-index: 500;

  svg {
    position: absolute;
    top: -30px;
    left: 60px;
    fill: $brand-info;
  }

  &--br {
    transform: rotate(-30deg);
    top: 20px;
    width: 130px;

  }

  &--bl {
    transform: rotate(-3deg);
    top: 60px;
    left: -20px;
    svg  {
      transform: scaleX(-1);
    }
  }

  &--tl {
    transform: rotate(7deg);
    top: 150px;
    left: -60px;
    width: 130px;
    @include media-breakpoint-down(md) {
      left: -20px;
    } ;
    svg {
      transform: scaleX(-1);
    }
  }
}
