.artboard__title {
  position: relative;

      .inline-text-edit {
        font-family: $custom-font-family;
        font-weight: 700;
        padding: 0;
        min-height: 40px;
        font-size: 24px;
        color: white;
        display: inline-block;
      }

      .inline-edit-input {
        appearance: none;
        background: transparent;
        box-shadow: none;
        border-radius: none;
        border: none;
        display: inline-block;
        font-size: inherit;
        text-align: center;
        outline: none;
        &:focus {
          outline: none;
          border: none;
        }
      }

      &__static {
        width: $artboard-width * 0.8;
        display: block;
        margin: $spacer-y auto;

      }
  }
