$subtitle-font-size: 50px;

.inline-text-edit {
  font-family: $custom-font-family;
  font-weight: 700;
  padding: 1px; // Add padding to avoid the box "popping", when inline input box is inserted inside p element. Gets remove/re-added in JS
  margin-bottom: 0;
  min-height: $artboard-subtitle-height;
  font-size: $subtitle-font-size;
  line-height: 1;
  @include media-breakpoint-down(md) {
    font-size: $subtitle-font-size * 0.8;
  }
  color: white;
  display: block;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  text-shadow: 5px 5px rgba(0, 0, 0, .9);
}

.inline-edit-input {
  border: none;
  appearance: none;
  background: transparent;
  outline: none;
  font-size: inherit;
  text-align: center;
  width: 100%;
  overflow: hidden;
  color: white;
  text-shadow: 5px 5px rgba(0, 0, 0, .9);
  &:focus {
    // outline: none;
    // border: none;
  }

}

.artboard__subtitle__word-counter {
    display: none;
    text-align: center;
    span {
      font-weight: bold;
    }
}
