<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="De Geist">

    <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/favicons/apple-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/img/favicons/apple-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/favicons/apple-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/img/favicons/apple-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/favicons/apple-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/img/favicons/apple-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/favicons/apple-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/img/favicons/apple-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicons/apple-icon-180x180.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/img/favicons/android-icon-192x192.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicons/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/img/favicons/favicon-96x96.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicons/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ "/img/favicons/manifest.json" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "/img/favicons/ms-icon-144x144.png" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">

    <!-- / Facebook Open Graph shares -->
    <meta content='{{ site.title }}' property='og:title'>
    <meta content='{{ site.url }}' property='og:url'>
    <meta content='{{ site.name }}' property='og:site_name'>
    <meta content='{{ site.description }}' property='og:description'>
    <meta content='{{ "/img/social-media/fb.jpg" | prepend: site.url }}' property='og:image'>
    <!-- / Twitter cards -->
    <meta content='summary_large_image' name='twitter:card'>
    <meta content='@{{ site.twitter_username }}' name='twitter:site'>
    <meta content='{{ site.description }}' name='twitter:title'>
    <meta content='{{ site.description }}' name='twitter:description'>
    <meta content='{{ "/img/social-media/twitter.jpg" | prepend: site.url }}' name='twitter:image'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- / Vendor scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="{{ "/js/vendor/jquery.inline-edit.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/fileuploader/jquery.ui.widget.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/fileuploader/jquery.iframe-transport.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/fileuploader/jquery.fileupload.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/ui.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/dropzone.js" | prepend: site.baseurl }}"></script>
    <script src="bower_components/file-saver/FileSaver.js" /> </script>
    <script src="bower_components/dom-to-image/src/dom-to-image.js" /> </script>

  </head>
  <body>
    {{ content }}
  </body>

  <script>
  $('#artboard').ready(function() {
    var node = document.getElementById('artboard');
    console.log('doodooright1');

    // domtoimage.toBlob(document.getElementById('artboard'), {'height': '700', 'width': '500'})
    //     .then(function (blob) {
    //         window.saveAs(blob, 'my-node.png');
    //     });

      domtoimage.toPng(node, {'height': '700', 'width': '500'})
          .then(function (dataUrl) {
              var img = new Image();
              img.src = dataUrl;
              document.body.appendChild(img);
          })
          .catch(function (error) {
              console.error('oops, something went wrong!', error);
          });

  });
  </script>
</html>
