.modal {
  &-header {
    border-bottom: none;
  }

  img {
    max-width: 100%;
    height: auto;
    border: 2px solid white;
    @include box-shadow(1);
    &:hover {
      @include box-shadow(3);
    }
  }
}
